body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: rgba(95, 122, 124, 0.877);
    transition: all 3s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.question h2{
    font-size: 50px;
    margin-bottom: 50px;
    transition: all 1s;
    
}

.quiz h1{
    font-size: 60px;
    margin-bottom: 40px;
}

.wrong{
    background-color: rgb(173, 23, 23);
}

.correct{
    background-color: rgb(15, 131, 20);
}

#errore{
    margin-top: 40px;
}





